:root {
  --accent: #ff0000;
  --primary: #FFFFFF;
  --secondary: #000;
}


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}


.fs12{
  font-size: 12px;
}

.poke-name{
  width: 150px;
}


.bg-check {
  background-color: #e5e5f7;
  opacity: 0.8;
  background: repeating-linear-gradient(-45deg, var(--accent), var(--accent) 5px, #FFFFFF 5px, #FFFFFF 25px);
}

.pointor{
  cursor: pointer !important;
}

.bg-white {
  min-height: 100vh;
  background-color: white;
}

.form-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 1px dashed var(--accent);
  cursor: pointer;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none !important;
}

.form-control,
.form-select {
  border-color: var(--accent) !important;
}

.file-label {
cursor: pointer;
  display: grid;
  width: 150px;
  height: 150px;
  border: 1px dashed var(--accent);
  place-content: center;

}

.file-input__input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}


.btn-primary {
  border: none !important;
  color: var(--primary) !important;
  background: var(--accent) !important;

}

.card{
  width: 250px !important;
}

.card-image{
  height: 180px;
  width: 215px;
}

.badge{
  color: rgb(203, 203, 203) !important;
  padding-inline: 20px !important;
  width: fit-content;
}

.desc-text{

    font-size: 14px;
    line-height: 18px;
}